* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

body,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grandparent,
.parent,
.child {
  cursor: pointer;
}

.grandparent {
  width: 200px;
  height: 200px;
  background-color: red;
}

.parent {
  width: 130px;
  height: 130px;
  background-color: blue;
}

.child {
  width: 60px;
  height: 60px;
  background-color: green;
}
