* {
  box-sizing: border-box;
  margin: 0;
}
.body {
  color: #212529;
}

.pseudo::before {
  content: "⭐️";
  margin-right: 20px;
  font-size: 20px;
}

.pseudo::after {
  content: "!";
  font-style: italic;
}
